<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.desk">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_11"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_11"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/NoActionAppTheme" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/NoActionAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.pulldshuoshuo.PulldshuoshuoActivity"
            android:theme="@style/NoActionAppTheme" />
        <activity
            android:name=".ui.comment.CommentActivity"
            android:theme="@style/NoActionAppTheme" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.myinfo.MyinfoActivity" />
        <activity
            android:name=".ui.room.RoomActivity"
            android:theme="@style/NoActionAppTheme" />
        <activity android:name=".ui.ImagePagerActivity" />

        <service android:name=".service.DownloadIntentService"></service>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.desk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>